<h1>Все автомобили</h1>
<h3>@Model.CurrCategory</h3>
<div class="row mt-5 mb-2">
    @{
        foreach (var car in Model.AllCars) {
            <div class="col-lg-4">
                <img class="img-thumbnail" src="@car.Img" alt="@car.Name"/>
                <h2>@car.Name</h2>
                <p>@car.ShortDesc</p>
                <p>Цена: @car.Price.ToString("c", System.Globalization.CultureInfo.CreateSpecificCulture("en-us"));</p>
                <p><a class="btn btn-warning" href="#">Подробнее</a></p>
            </div>
        }
    }
</div>